<div class="container-login">
  <form (ngSubmit)="handleLogin()">
    <div class="form-group">
      <label for="email">Usuario:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <div class="password-container">
        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" formControlName="password" required>
        <button type="button" (click)="togglePasswordVisibility()">
          <img class="show-password" [src]="showPassword ? 'assets/eye-open.png' : 'assets/eye-closed.png'" alt="Toggle Password">
        </button>
      </div>
    </div>
    <button type="submit">Iniciar sesión</button>
  </form>
  <h2>{{message}}</h2>
</div>

