<div class="container-home">
    <div class="links-home">
        <a [routerLink]="'api/houses'">
            <div class="link-content">
                <img class="home-img" src="../../assets/fondo got.jpeg" alt="logo gameOfThrones"/>
                <span class="link-title">Casas</span>
            </div>
        </a>
    </div>
    <div class="links-home">
        <a [routerLink]="'api/characters'">
            <div class="link-content">
                <img class="home-img" src="../../assets/juego-tronos.webp" alt="logo gameOfThrones"/>
                <span class="link-title">Personajes</span>
            </div>
        </a>
    </div>
    <div class="links-home">
        <a [routerLink]="'shop'">
            <div class="link-content">
                <img class="home-img" src="../../assets/map.jpeg" alt="logo gameOfThrones"/>
                <span class="link-title">Tienda</span>
            </div>
        </a>
    </div>
    <div class="links-home">
        <a [routerLink]="'videos'">
            <div class="link-content">
                <img class="home-img" src="../../assets/Juego-de-Tronos.jpg" alt="logo gameOfThrones"/>
                <span class="link-title">Vídeos</span>
            </div>
        </a>
    </div>
</div>




