<div class="container-videos">
    <iframe src="https://www.youtube.com/embed/bjqEWgDVPe0" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/AlhHGUfCYw4" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/nblUgAMoOvU" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/BYQk6UTIppU" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/SQji8QgOSkk" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/FNjG5W5694s" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/giYeaKsXnsI" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/rlR4PJn8b8I" frameborder="0" allowfullscreen></iframe>
</div>
